run = "npm run build && node dist/index.cjs"
language = "nodejs"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && node dist/index.cjs"]

[[ports]]
localPort = 5000
externalPort = 80
